body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
}

.title {
  background: #84c4f0;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #84c4f0;
  padding: 16px 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #84c4f0;
  text-align: center;
  padding: 8px;
  margin-bottom: 8px;
}

/* Mistake

button {
  padding: 8px 24px;
  background: white;
  border: 1px solid #eee;
}

*/

/* Corrert Way to do the button part */

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}

